apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
name: {{ include "eindwerk-app.fullname" . }}
spec:
replicas: 2
strategy:
canary:
steps:
- setWeight: 20
- pause: { duration: 30 }
selector:
matchLabels:
app: {{ include "eindwerk-app.name" . }}
template:
metadata:
labels:
app: {{ include "eindwerk-app.name" . }}
spec:
containers:
- name: {{ include "eindwerk-app.name" . }}
image: stefvanitterbeeck2/eindwerk-app:{{ .Values.image.tag }}

ports:
- containerPort: 80